:root {
  --bgColor: #2f463da8;
  --text: ;
  --peripherals: ;
  --defWidth: 400px;
  --transitions: 0.3s ease-in-out;
  --borderRadius: calc(infinity * 1px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: var(--bgColor);
  gap: 20px;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  right: 40%;
  top: 40px;
  height: 100vh;
  width: 60vw;
}
button {
  cursor: pointer;
  width: var(--defWidth);
  height: 50px;
  border: none;
  border-radius: var(--borderRadius);
  transition: all var(--transitions);
}
button:hover {
  filter: opacity(0.7);
  transform: scale(1.05);
}
button:active {
  transform: scale(0.9);
}
#copyCoordinates,
#reset {
  width: calc(var(--defWidth) / 2);
}
.contain {
  display: flex;
  gap: 10px;
}
input {
  width: var(--defWidth);
  padding: calc(var(--defWidth) / 10);
  border: none;
  border-radius: var(--borderRadius);
  height: 50px;
  font-size: 18px;
  transition: var(--transitions);
}
h1 {
  font-size: 40px;
}
input:focus,
button:focus {
  outline: none;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#map {
  border: 2px solid black;
  position: absolute;
  right: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: grid;
  place-items: center;
}
p {
  font-size: 12px;
}
#map h2 {
  font-size: 36px;
  z-index: -10000;
}
#outputContainer,
#historyOutput {
  display: grid;
  place-items: center;
}
#historyOutput {
  position: absolute;
  top: 120%;
  left: 3%;
}
li {
  line-height: 35px;
}
#outputContainer {
  line-height: 35px;
  font-weight: bolder;
}
.invisible {
  display: none !important;
}
