:root {
  --bgColor: #2f463da8;
  --text: ;
  --peripherals: ;
  --defWidth: 400px;
  --transitions: 0.3s ease-in-out;
  --borderRadius: calc(infinity * 1px);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--bgColor);
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.results {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px dashed black;
  overflow: hidden;
}
section {
  height: 100vh;
  animation: fadeIn linear;
  animation-timeline: view();
  animation-range: entry;
}
@keyframes fadeIn {
  from {
    opacity: 0.7;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  width: 60vw;
}
button {
  cursor: pointer;
  width: var(--defWidth);
  height: 50px;
  border: none;
  border-radius: var(--borderRadius);
  transition: all var(--transitions);
}
button:hover {
  filter: opacity(0.7);
  transform: scale(1.05);
}
button:active {
  transform: scale(0.9);
}
#copyCoordinates,
#reset {
  width: calc(var(--defWidth) / 2);
}
.contain {
  display: flex;
  gap: 10px;
}
input {
  width: var(--defWidth);
  padding: calc(var(--defWidth) / 10);
  border: none;
  border-radius: var(--borderRadius);
  height: 50px;
  font-size: 18px;
  transition: var(--transitions);
}
h1 {
  font-size: 40px;
}
input:focus,
button:focus {
  outline: none;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#map {
  display: grid;
  place-items: center;
  border-bottom: 2px dashed black;
}
p {
  font-size: 12px;
}
#map h2 {
  font-size: 36px;
  z-index: -10000;
}
#outputContainer {
  display: grid;
  place-items: center;
}
#historyOutput {
  height: 50vh;
  width: 50vw;
  padding: 15px;
  overflow-y: auto;
}
li {
  display: flex;
  gap: 20px;
}
#outputContainer {
  line-height: 35px;
  font-weight: bolder;
}
.invisible {
  display: none !important;
}
#historyDiv li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.outputText {
  font-size: 40px;
}
#historyDiv {
  display: flex;
  flex-direction: column;
}
#historyList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.row1 {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px dashed black;
  flex-flow: column;
  gap: 50px;
}
.row1,
.row2 {
  height: 100vh;
  width: 50vw;
}

/* loading css */
/* From Uiverse.io by Nawsome */
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
